command = /bin/zsh -l

# --------背景色--------
foreground = e0e0e0
background-opacity = 0.93

# -----フォント設定-----
font-size = 13
adjust-cell-width = -5%

# 通常フォント
font-family = Menlo
font-family = MesloLGS Nerd Font
font-family = Hiragino Sans W4

# Bold時に使うフォント
# 日本語はW7で実体として太字化。合成ボールドがフォールバックに効かない問題の回避）
font-family-bold = Menlo
font-family-bold = MesloLGS Nerd Font
font-family-bold = Hiragino Sans W6

# 文字を太くする
#font-thicken = true
#font-thicken-strength = 100


keybind = shift+enter=text:\x1b\r
